<div class="login-page-wrapper">
  <div class="login-card">
    <h1 class="login-title">Login</h1>

    <form (ngSubmit)="onLogin()" class="login-form">
      <div class="form-group">
        <label for="email" class="sr-only">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          required
          class="form-input"
          placeholder="Email"
        >
      </div>

      <div class="form-group">
        <label for="password" class="sr-only">Senha</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
          class="form-input"
          placeholder="Senha"
        >
      </div>

      @if (loginError) {
        <p class="error-message">Email ou senha inválidos.</p>
      }

      @if (successMessage) {
        <p class="success-message">{{ successMessage }}</p>
      }

      <button type="button" (click)="onCreateAccount()" class="action-button create-account-button">Criar Conta</button>
      <button type="submit" class="action-button login-button">Login</button>
    </form>
  </div>
</div>